/* global color variables  */
html {
  --primary: #19191b;
  --border-color: #ddd;
  --table-body: #fff;
  --card-bg: #fff;
  --table-head: #201733;
  --text-primary: #fff;
  --text-secondary: #4a4a4a;
  --text-success: rgb(75, 118, 75);
  --bg: #f2f2f2;
}
